<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <article>
            <header>
                <div class="alert alert-secondary" role="alert">
                    Mirage Website
                </div>
            </header>
        </article> 
    </header>
    {% block content %}{% endblock %}
    <footer>
        <article>
            <footer>
                <div class="alert alert-secondary" role="alert">
                    <p style="text-align: center">Copyright Randy 2018</p>
                </div>
            </footer>
        </article> 
    </footer>
</body>
</html>