<!DOCTYPE html>
{% extends "base.html" %}
{% block head %}
<title>Welcome</title>
<style>
    body {
    background-image: url({{back_img}});
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="block alert alert-primary">
        <h2>Hello, apa kabar?</h2>
        <form id="form" method="POST" action="/post_status/">
            <div class="form-group">
                {% csrf_token %}
                <label for="status">Title :</label>
                {{form.title}}
                <label for="status">Status :</label>
                {{form.message}}
            </div>
            <button type="submit" class="btn btn-primary" name="action">Submit</button>
        </form>
    </div>
    <div class="block alert alert-primary">
        <h2>Message  :</h2>
        <div class="block alert alert-light">
            {% for final_object in final %}
            <h4>Title : {{final_object.title}} </h4>
            <h6>Status : {{final_object.message}} </h6>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}